@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
    --gold: #cdc379;
    --blue: #001C3F;
    --input-text: #AEAEAE;
    --input-box: #F3F3F3;
}

.nav-bar-filler {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-top: 0px;
    height: 83px;
}

.container {
    width: 100%;
    padding-top: 83px;
    z-index: 0;
    font-family: 'Crimson Text', serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; 
    font-size: 1.25rem;
}

.content-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 35%;
    justify-content: space-between;
}

.leading-title {
    width: 40%;
    margin-bottom: -10px;
}

.bookButton {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media(max-width: 1300px) {
    .content-container {
        width: 70%;
    }

    .leading-title {
        width: 80%;
    }
}

@media(max-width: 680px) {
    .container {
        font-size: 1rem;
    }

    .image-nextjs {
        width: 250px;
        height: 250px;
        aspect-ratio: 1;
    }

    .leading-title {
        min-width: 90%;
    }

    .content-container {
        width: 80%;
    }
}

h1 {
    color: black;
}

@media(prefers-color-scheme: dark) {
    h1 {
        color: white;
    }
}