.page-container {
    min-height: 100vh;
    background-color: white;
}

.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Crimson Text', serif;
    background-image: url('/landing.png');
    background-size: cover;
    background-position: center;
    padding-top: 2rem;
}

.top-container {
    margin-top: 100px;
    text-align: center;
    color: white;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.column-container {
    display: flex;
    justify-content: space-between;
    background-color: #494949;
    width: 100%;
    max-width: 1400px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 2rem;
    gap: 2rem;
}

.left-container, .right-container {
    width: 45%;
    padding: 20px;
    background-color: #494949;
    border-radius: 10px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.leading-title {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}

.bookButton {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logoutButton {
    background-color: maroon;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-size: 1.2rem;
    color: #333;
}

@media (max-width: 768px) {
    .column-container {
        flex-direction: column;
        padding: 1rem;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .content-container {
        flex-direction: column;
        text-align: center;
    }

    .bookButton {
        margin-top: 1rem;
    }
}