.registration-page{
    background-color: white;
    margin-top: 100px;
}

.nav-container {
    background-color: #001C3F; 
}
  
.form-container {
	background-color: #001C3F;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	text-align: center;
	padding: 60px;
	padding-top: 40px;
	padding-bottom: 80px;
	border-radius: 5px;
}

.logo {
	width: 300px;
}

input {
	background-color: #F3F3F3;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 16px;
	border-radius: 10px;
	border: none;
	font-family: 'Crimson Text', serif;
	font-size: 20px;
	color: #AEAEAE;
	width: 222px;
	box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.3); 
}

button {
	background-color: #CDC379;
	margin-top: 40px;
	width: 200px;
	border-radius: 10px;
	border: none;
	padding: 10px;
	font-family: 'Crimson Text', serif;
	font-size: 25px;
	color: white;
	box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.3); 
	cursor: pointer;
	font-weight: bold;
}

#longtext {
	width: 500px;
}

.response {
	background-color: white;
	color: black;
}

@media (max-width: 680px) {
	input {
		width: 86px;
		padding: 16px;
		margin-top: 18px;
		margin-right: 6px;
		transform: translateY(-20px); 
		font-size: 18px;
	}	

	input[type='email'],
    input[type='password'],
    input[type='cardnum'] {
        width: 100%; 
        max-width: 234px; 
        padding: 16px; 
        margin-top: 18px;
		margin-right: 8px;
        transform: translateY(-20px); 
    }

	.logo {
		margin-top: 30px;
	}

	.form-container{
		max-width:300px;
		padding: 40px 18px;
		border-radius: 20px;
	}

	button {
		margin-top: 20px;
	}
}

