:root {
    --gold: #cdc379;
    --blue: #001C3F;
    --input-text: #AEAEAE;
    --input-box: #F3F3F3;
}

.hotel-page {
    margin-top: 83px;
}

.nav-bar-filler {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    margin-top: 0px;
    height: 83px;
}

.content-wrapper {
    margin-top: 83px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-container {
    flex: 0 0 33.33%;
}

.map-container {
    flex: 0 0 66.67%;
    max-width: 66.67%;
    height: auto;
    overflow: hidden;
}

.image {
    max-width: 100%;
    padding: 1rem;
    height: auto;
}

.booking-container {
    align-items: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.title {
    font-weight: bold;
    font-size: large;
    margin-bottom: -15px;
}

@media (max-width: 768px) {
    .content-wrapper {
        align-items: center;
        justify-items: center;
    }

    .info-container, .map-container {
        flex: 0 0 100%;
    }

    .map-container {
        max-width: 100%;
    }
}